.filterContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
  padding: 1rem;
  background-color: var(--surface-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.filterSelect {
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 2rem;
}

.loading,
.error {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 4rem;
}